/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #f97316; /* orange-500 */
    --primary-dark: #ea580c; /* orange-600 */
    --secondary: #2c353d;
    --secondary-light: #3a454f;
    --text-primary: #171717;
    --text-secondary: #4b5563; /* gray-600 */
    --text-light: #9ca3af; /* gray-400 */
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1e252b;
        --foreground: #2c343c;
        --primary: #f97316; /* orange-500 */
        --primary-dark: #ea580c; /* orange-600 */
        --secondary: #262d34;
        --secondary-light: #343b45;
        --text-primary: #f9fafb; /* gray-50 */
        --text-secondary: #d1d5db; /* gray-300 */
        --text-light: #9ca3af; /* gray-400 */
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.toggle-container {
    @apply inline-flex items-center space-x-1 rounded-full p-1 
        bg-secondary text-text-secondary;
}
.toggle-button {
    @apply flex items-center px-3 py-1 rounded-full 
        transition-colors duration-300 focus:outline-none;
}

.toggle-button-active {
    @apply bg-white text-primary shadow 
        dark:bg-secondary-light dark:text-primary;
}

.toggle-button-inactive {
    @apply text-text-secondary hover:bg-secondary 
        dark:text-text-light dark:hover:bg-secondary;
}

.toggle-icon {
    @apply w-5 h-5;
}

.toggle-text {
    @apply ml-1;
}
